<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<address>
        <title>Aboutme</title>
        <p>Hello my name is Sangeethan Thevathasan and I'm a second year student studying Information technology management. In my free time I like to play video games. My favourite colour is green. My favourite team is the toronto Raptors.  </p>
    <div class=""container>

<body>
    <h1><%= text %></h1>
</body>
    <video width="300" controls>
        <source src="vid/IMG_2998.mp4" type="video/mp4">
        <source src="vid/IMG_2998.ogg" type="video/ogg">
    </video>
    </div>
</address>
</video>
<footer>©2023 by sangeethan thevathasan</footer>
</html>