<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact me</title>
</head>
<body>  
</body>
<address>
<form>
<h3>Have any Questions Contact Me </h3>
<input type="text" id="name" placeholder="Enter Name" required>
<input type="email" id="email" placeholder="Enter email"required>
<textarea id="Whats your message" rows="2" placeholder="Enter message" required></textarea>
<button type="submit">send</button>
</form>
</div>
<p> Contact me at <a href="sangeethan.thevathasan@ontariotechu.net">sangeethan.thevathasan@ontariotechu.net</a></p>
<footer>©2023 by sangeethan thevathasan</footer>
</address>
</html>