<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my Personal Website</h1>
    <h3>I, Sangeethan Thevathasan is a student at Ontario Tech University studying information technology. I'm looking foward to the future!</h3>
    <h2><img src="img/sang.jpg" width="300" height="200" style="width: 200px; height: 200px">

        <%=text%>
    </h2>   
</body>
<p>©2023 by sangeethan thevathasan</p>
</html>