<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<header>

    <a href="/">Welcome</a>
    <a href="/about">About Page</a>
    <a href="/contactme">Contact Me</a>
    <a href="/project">Projects</a>


</header>

<body>
   <%-body%> 
</body>
</html>