<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
<p>
    
    Here are my recent projects I have been working on. I have only included three projects from my first year classes in Ontario tech. This included intro to programming and object oriented programming.  <a href="https://github.com/sickboysang/year1python.git">Github</a></p>
</head>
<body>
    
</body>
<footer>©2023 by sangeethan thevathasan</footer>
</html>